<section class="col scroll new_order_section block_shadow">
    <div class="mt-3">
        {% for category in categories %}
            <div class="product_block">
                <h3 class="text-center">{{ category }}</h3>
                <div class="row row-cols-4 mb-3 justify-content-center">
                    {% for product in category.products.values %}
                        {% if product.available == True %}
                            <button type="button" class="btn btn-sm p-1 m-1 product_button position-relative shadow-sm">
                            <span class="position-relative d-block mb-5 line_break">{{ product.name }}</span>
                            <span class="col-7 bg-primary rounded text-white
                                                            float-end fw-bold product_price">
                            {{ product.price }}₽
                        {% else %}
                            <button class="btn btn-sm p-1 m-1 prod_not_available
                                            disabled position-relative shadow-sm">
                            <span class="position-relative d-block mb-5 line_break">
                                {{ product.name }}
                            </span>
                            <span class="col-7 bg-primary rounded text-white
                                                            float-end fw-bold product_price">
                            {{ product.price }}₽
                        {% endif %}
                    </span>
                    </button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
