{% extends 'base.html' %}

{% block  content %}
    <ul style="
            margin: 20px;">
        {% for category in category %}
            <li style="
        display:block;
        margin: auto;">
                <h3>
                    <button style="padding: 20px; background-color: #81b1ef">{{ category }}</button>
                </h3>
            </li>
            {#            <li>{% for product in products %}#}
            <p>{{ product }}</p>

            {#            {% endfor %}#}

            </li>
            <hr>
        {% endfor %}
    </ul>

{% endblock content %}