html {
    overflow: auto;
    height: 100%;
    background-image: linear-gradient(
            0deg, #fdfbfb 0%, #dddddd 100%);
}

body {
    background-image: linear-gradient(
            175deg, #fdfbfb 0%, #dddddd 100%);
    height: 100%;
}


.new_order_section {
    height: 91vh;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav_button {
    padding: 12px !important;
    width: 15%;
}

.hide_scroll {
    overflow-x: auto !important;
}

.scroll {
    overflow-y: scroll;
}

.block_shadow {
    box-shadow: 7px -20px 20px 6px rgb(0 0 0 / 8%) !important;
}

.product_block {
    margin: 10px auto;
    border-bottom: 1px solid #b8b8b800;
    box-shadow: 6px 9px 7px 0 rgb(0 0 0 / 8%) !important;
}

.prod_True {
    background-color: #ffc108 !important;
}

.prod_True:active {
    background-color: goldenrod !important;
}

.product_price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -8px;
    padding: 4px;
    right: 4px;
    bottom: 4px;
    position: absolute
}

.prod_False {
    background-color: #ab0000 !important;
    color: white !important;
}

.price_list {
    height: 300px;
}

/*.product_cart {*/

/*}*/

.price_list_thead {
    background-color: gold;
}

.sticky_description {
    position: sticky;
    top: 80px;
}


/*
Стилизация стрелок input=number
*/

.quantity_inner * {
    box-sizing: border-box;
}

.quantity_inner {
    display: inline-flex;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    height: 30px;
    width: 30px;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 10px;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus {
    background: #0d6efd;
}

.quantity_inner .bt_minus:active,
.quantity_inner .bt_plus:active {
    background: #0041a4;
}


.quantity_inner .quantity {
    width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border: 1px solid #868686;
    margin: 0 3px;
}

.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #337AB7;
    stroke-width: 4;
    margin: 8px;
}

.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #fff;
}


/*
Конец стилизации стрелок input=number
*/


/*
Цвета статусов заказа
*/
.NEW-order {
    background-color: #0d6efd !important;
}

.PRO-order {
    background-color: #ffc107 !important;
}

.PRP-order {
    background-color: #0dcaf0 !important;
}

.RDY-order {
    background-color: #a407ff !important;
}

.DLV-order {
    background-color: #f66c06 !important;
}

.COM-order {
    font-weight: bold;
    margin: 0;
    color: white;
    background-color: #119617 !important;
}

.CAN-order {
    font-weight: bold;
    margin: 0;
    color: white;
    background-color: #aa0000 !important;
}

/*
Конец цвета статусов заказа
*/


select option[disabled] {
    display: none;
}


.dash-process-color {
    color: #0896b2 !important;
}

.dash-preorder-color {
    color: #ffc107 !important;
}

.dash-delivery-color {
    color: #f66c05 !important;
}

.dash-cancel-color {
    color: #aa0000 !important;
}

.dash-completed-color {
    color: #119617 !important;
}

.dash-preorder-sum-color {
    color: #4b26d3 !important;
}