html {
    overflow: auto;
    height: 100%;
    background-image: linear-gradient(
            0deg, #fdfbfb 0%, #dddddd 100%);
}

body {
    background-image: linear-gradient(
            175deg, #fdfbfb 0%, #dddddd 100%);
    height: 100%;
}


.new_order_section {
    height: 91.7vh;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav_button {
    padding: 20px !important;
    max-width: 10em;
}

.hide_scroll {
    overflow-x: auto !important;
}

.scroll {
    overflow-y: scroll;
}

.block_shadow {
    box-shadow: 7px 0 20px 6px rgb(0 0 0 / 8%) !important;
}

.product_block {
    margin: 10px auto;
    border-bottom: 1px solid #b8b8b800;
    box-shadow: 6px 9px 7px 0 rgb(0 0 0 / 8%) !important;
}

.product_button {
    background-color: #ffc108 !important;
}

.product_button:focus {
    background-color: goldenrod !important;
}

.product_price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -8px;
    padding: 4px;
    right: 4px;
    bottom: 4px;
    position: absolute
}

.prod_not_available {
    background-color: #ab0000 !important;
    color: white !important;
}

.price_list {
    height: 300px;
}

.product_cart {

}

.price_list_thead {
    background-color: gold;
}

.sticky_description {
    position: sticky;
    top: 80px;
}


/*
Стилизация стрелок input=number
*/

.number {
    display: inline-block;
    position: relative;
    width: 100px;
}

.number input[type="number"] {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.number-minus {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    border-right: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}

.number-plus {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    border-left: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}

/*
Конец стилизации
*/