{% extends 'base.html' %}

<meta charset="UTF-8">

{% block content %}
    <div class="col-9 col-md-5 col-xl-5 col-lg-5 m-auto">
        <div class="text-center">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form class="form-signin" method="post" action="{% url 'login/signin' %}">
                {% csrf_token %}
                <h1 class="h3 mt-5 mb-3 font-weight-normal">MantIS</h1>
                <label for="inputUsername" class="sr-only">Имя пользователя</label>
                {{ form.username }}
                <label for="inputPassword" class="sr-only">Пароль</label>
                {{ form.password }}
                <button class="btn mt-2 mb-5 btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock content %}
