{% load static %}


<section class="container-fluid">
    <div class="row m-1 bg-white sticky_description" style="padding-right: 12px;padding-left: 12px;">
        <table class="table table-bordered mb-1 mt-1" style="background-color: darkgray">
            <tr class="text-center">
                <th scope="col" class="col-1">№ заказа</th>
                <th scope="col" class="col-1">Статус заказа</th>
                <th scope="col" class="col-1">Оформлен</th>
                <th scope="col" class="col-2">Адрес</th>
                <th scope="col" class="col-1">Имя/тел</th>
                <th scope="col" class="col-1">Сумма</th>
                <th scope="col" class="col-1">Курьер</th>
                <th scope="col" class="col-1">Оператор</th>
            </tr>
        </table>
    </div>
</section>
