<a href="{% url 'orders:order_detail' order.id %}" style="text-decoration: none" class="mt-2 mb-2">
    <table class="table table-bordered mb-1 mt-1" style="background-color: #eaf7ff; border-color: steelblue">
        <tr class="text-center" style="vertical-align: middle;">
            <th scope="col" class="col-1" style="width: 5%">#{{ order.id }}</th>
            <th scope="col" class="col-1">{{ order.get_order_status_display }}</th>

            <td class="col-1">
                <table class="m-auto">
                    <tbody>
                    <tr>
                        <td class="">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ order.created_at|time:'H:i' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ order.updated_at|date:'d.m' }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="ps-4 pe-0">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ order.pre_order|time:'H:i'|default:'-------' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ order.pre_order|date:'d.m'|default:'-------' }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <th scope="col" class="col-2 text-start">{{ order.client_data.address|default_if_none:'' }}</th>
            <th scope="col" class="col-1">
                <span>{{ order.client_data.name.title|default_if_none:'' }}</span><br>
                <span>{{ order.client_data.phone|default_if_none:'' }}</span>
            </th>
            {% if order.paid == True %}
                <th scope="col" class="col-1 fs-3" style="background-color: limegreen">1616 ₽</th>
            {% else %}
                <th scope="col" class="col-1 fs-3" style="background-color: indianred">1616 ₽</th>
            {% endif %}
            <th scope="col" class="col-1">{{ order.courier|default_if_none:'--------' }}</th>
            <th scope="col" class="col-1">{{ order.operator.first_name }}</th>
        </tr>
    </table>
</a>
