{% load static %}


<section class="container-fluid" style="position: sticky;top: 78px;z-index: 1;">
    <div class="m-1 bg-white shadow" style="padding-right: 12px;padding-left: 12px;margin-top: 0 !important;">
        <table class="table table-bordered mb-1 mt-1" style="background-color: darkgray">
            <tr class="text-center">
                <th scope="col" class="col-1">№ заказа</th>
                <th scope="col" class="col-1">Статус заказа</th>
                <th scope="col" class="col-1">Оформлен</th>
                <th scope="col" class="col-2">Адрес</th>
                <th scope="col" class="col-1">Имя/тел</th>
                <th scope="col" class="col-1">Сумма</th>
                <th scope="col" class="col-1">Курьер</th>
                <th scope="col" class="col-1">Оператор</th>
            </tr>
        </table>
    </div>
</section>
