{% load static %}

<nav class="shadow-sm p-1 bg-white sticky-top rounded">
    <div>
        <a href="{% url "new_order" %}" class="btn btn-primary nav_button">+ НОВЫЙ</a>
        <a href="/" class="btn btn-info ">
            <span class="fw-bold">3</span><br>
            <span class="border-top border-dark m-4">В РАБОТЕ</span>
        </a>
        <a href="{% url "orders_list" %}" class="btn btn-warning">
            <span class="fw-bold">2</span><br>
            <span class="border-top border-dark m-4">ПРЕДЗАКАЗЫ</span>
        </a>
        <a href="{% url "orders_list" %}" class="btn btn-success">
            <span class="fw-bold">7</span><br>
            <span class="border-top m-4">ЗАВЕРШЕННЫЕ</span>
        </a>
        <button class="btn btn-secondary  nav_button">КАЛЕНДАРЬ</button>
    </div>
    <div>
        <button class="btn btn-dark nav_button">ДАШБОРД</button>
        <a href="{% url "admin:index" %}" class="btn btn-dark nav_button">Админка</a>
    </div>
</nav>
