{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block navbar %}{% include 'orders/includes/navbar.html' %}{% endblock navbar %}

{% block table_description %}
    {% include 'orders/orders_table_description.html' %}
{% endblock table_description %}

{% block content %}
    {% for completed_order in completed_orders %}
        <ul>
            <li>
                <a href="{% url 'orders:order_detail' completed_order.id %}" style="display: inline-block;">
                    <h2>{{ completed_order }}</h2>
                </a>
            </li>
        </ul>
    {% endfor %}

{% endblock content %}
