{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block navbar %}{% include 'orders/includes/navbar.html' %}{% endblock navbar %}

{% block table_description %}
    {% include 'orders/includes/orders_table_description.html' %}
{% endblock table_description %}

{% block content %}
    <section class="container-fluid">
        <div class="row m-1 bg-white sticky_description">
            {% for order in completed_orders %}
                {% include 'orders/includes/order.html' %}
            {% endfor %}
        </div>
    </section>

{% endblock content %}
