<div class="print" id="print" style="width: 210mm;">
    <table style="width:100%; border:0">
        <tbody>
        <tr>
            <td class="Regular14" align="center" colspan="2"> Манты-Ман</td>
        </tr>
        <tr>
            <td align="left" colspan="2" style="padding-bottom: 10px;">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td align="left" class="Regular27">Заказ № 16771</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">оформлен 2021-11-14 11:11:14</td>
                    </tr>
                    <tr>
                        <th align="left" class="Bold12">Заказ доставить: 14.11 в 15:00</th>
                    </tr>
                    <tr>
                        <td align="left" style="padding-top: 10px; padding-bottom: 10px;">
                            <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular17">8(916)369-60-09 Владимир</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">7% - День рождения</td>
                    </tr>
                    <tr>
                        <td align="left" style="padding-top: 10px; padding-bottom: 10px;">
                            <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="Regular17">Щербаковская 54 - 190</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">подъезд 5, этаж 4, домофон 190</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">Накоплено бонусов106.00</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">Персон: 1</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular17"></td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular17">м1</td>
                    </tr>
                    <tr>
                        <td align="left" style="padding-top: 10px; padding-bottom: 10px;">
                            <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" class="Regular12">г. Москва, Алтуфьевское ш., д. 27Ас44</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">тел: 8(495)203-43-00</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">e-mail: info@manti-man.ru</td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12">https://manti-man.ru</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" style="padding-bottom: 5px;">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td class="Regular14" colspan="2" align="center"></td>
        </tr>
        <tr>
            <td align="left" style="padding-top: 5px;" colspan="2">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td align="left" class="Regular12" width="70%" height="24px">Спайси-Ман (острые с гов.)</td>
                        <td align="left" class="Bold12" width="10%" rowspan="2" valign="top">409.00</td>
                        <td align="center" class="Regular12" width="10%" rowspan="2" valign="top">3</td>
                        <td align="right" class="Bold12" width="10%" rowspan="2" valign="top">1227.00</td>
                        <td align="center" class="Regular12" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td align="left" class="RegularOption"></td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12" width="70%" height="24px">Тейсти-Ман (с бараниной)</td>
                        <td align="left" class="Bold12" width="10%" rowspan="2" valign="top">429.00</td>
                        <td align="center" class="Regular12" width="10%" rowspan="2" valign="top">5</td>
                        <td align="right" class="Bold12" width="10%" rowspan="2" valign="top">2145.00</td>
                        <td align="center" class="Regular12" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td align="left" class="RegularOption"></td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12" width="70%" height="24px">Фиш-Ман (с лососем)</td>
                        <td align="left" class="Bold12" width="10%" rowspan="2" valign="top">559.00</td>
                        <td align="center" class="Regular12" width="10%" rowspan="2" valign="top">3</td>
                        <td align="right" class="Bold12" width="10%" rowspan="2" valign="top">1677.00</td>
                        <td align="center" class="Regular12" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td align="left" class="RegularOption"></td>
                    </tr>
                    <tr>
                        <td align="left" class="Regular12" width="70%" height="24px">Веджи-Ман (с тыквой)</td>
                        <td align="left" class="Bold12" width="10%" rowspan="2" valign="top">359.00</td>
                        <td align="center" class="Regular12" width="10%" rowspan="2" valign="top">1</td>
                        <td align="right" class="Bold12" width="10%" rowspan="2" valign="top">359.00</td>
                        <td align="center" class="Regular12" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td align="left" class="RegularOption"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" style="padding-bottom: 5px;">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td class="Regular14" colspan="2" align="center"></td>
        </tr>
        <tr>
            <td align="left" colspan="2" style="padding-bottom: 5px; padding-top: 5px;">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top">
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td valign="top" width="50%">
                            <table>
                                <tbody>
                                <tr>
                                    <td align="left" class="Regular12" height="18px">Оплата:</td>
                                    <td align="left" class="Bold12" style="padding-left:15px;">Сбер-Онлайн</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="right" valign="top">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td class="Regular12" align="right" height="18px">Стоимость доставки</td>
                                    <td align="right" class="Bold12">290.00</td>
                                </tr>
                                <tr>
                                    <td class="Regular12" align="right" height="18px">Общая сумма</td>
                                    <td align="right" class="Bold12">5698.00</td>
                                </tr>
                                <tr>
                                    <td class="Regular12" align="right" height="18px">Сумма скидки</td>
                                    <td class="Bold12" align="right">379.00</td>
                                </tr>
                                <tr>
                                    <th class="Regular17" align="right" height="28px">К оплате</th>
                                    <th align="right" class="Bold17">5319.00</th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" style="padding-bottom: 10px;">
                <div style="width: 100%; height: 1px; border-bottom: 1px dotted #808080;"></div>
            </td>
        </tr>
        <tr>
            <td class="Regular14" colspan="2" align="center"></td>
        </tr>
        </tbody>
    </table>
</div>