{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}
    {% include 'orders/includes/navbar.html' %}
{% endblock %}
{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col w-25">
                    {{ client_form|crispy }}
                </div>
                <div class="col w-25">
                    {{ cart_form }}
                </div>
            </div>
        </div>


        <input type="submit" name="Submit">
    </form>
{% endblock %}