{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block navbar %}
    {% include 'orders/includes/navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col m-3 text-center d-flex justify-content-center">
                <h2 class="alert alert-info text-center">
                    {{ object }} <br>
                    <span class="h5">от {{ object.created_at|date:"d-M-Y H:i:s" }}</span>
                    <p class="h5 mt-2">Статус: {{ object.get_order_status_display }}</p>
                </h2>
            </div>
        </div>
        <div class="row m-auto bg-white  w-75">
            <div class="col rounded-start" style="border: 2px solid">
                <h5 class="text-center p-3 border-bottom">Данные клиента</h5>
                <table>
                    <tbody>
                    <tr class="row text-start p-3">
                        <td><b>Имя:</b> {{ object.client_data.name|default_if_none:'' }}</td>
                        <td><b>Телефон:</b> {{ object.client_data.phone|default_if_none:'' }}</td>
                        <td><b>Адрес:</b> {{ object.client_data.address|default_if_none:'' }}</td>
                        <td><b>Подъезд:</b> {{ object.client_data.entrance|default_if_none:'' }}</td>
                        <td><b>Этаж:</b> {{ object.client_data.floor|default_if_none:'' }}</td>
                        <td><b>Квартира:</b> {{ object.client_data.room|default_if_none:'' }}</td>
                        <td><b>Комментарий:</b> {{ object.staff_comment|default_if_none:'' }}</td>
                        <td><b>Домофон:</b> {{ object.client.code|default_if_none:'' }}</td>
                        <td><b>Предзаказ:</b> {{ object.pre_order|default_if_none:'' }}</td>
                        <td><b>Стоимость доставки:</b> {{ object.delivery_price|default_if_none:'' }} руб.</td>
                        <td><b>Скидка:</b>
                            {% if object.discount_sum.discount_type == 'SUM' %}
                                {{ object.discount_sum.discount|default:'0' }} руб.
                            {% else %}
                                {{ object.discount_sum.discount|default:'0' }}%
                            {% endif %}
                        </td>
                        <td><b>Способ оплаты:</b>
                            {{ object.get_pay_method_display }}
                            {% if object.paid == True %}
                                <b style="background-color: lawngreen; padding: 3px; border-radius: 7px">ОПЛАЧЕНО</b>
                            {% else %}
                                <b style="color: white; background-color: red; padding: 3px; border-radius: 7px">НЕ
                                    ОПЛАЧЕНО</b>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col rounded-end" style="border: 2px solid">
                <h5 class="text-center p-3 border-bottom">Товары</h5>
            </div>
        </div>
    </div>
{% endblock content %}